<div class="columns">
  <div class="column">
    <footer class="footer is-clearfix">
      <div class="field has-text-centered">
        <a href="https://github.com/AdelMahjoub" target="_blank" class="button is-outlined is-dark"><span class="icon"><i class="fa fa-github"></i></span></a>
        <a href="https://twitter.com/II_Adel_II?lang=fr" target="_blank" class="button is-outlined is-dark"><span class="icon"><i class="fa fa-twitter"></i></span></a>
        <a href="https://www.facebook.com/adel.mahjoub.9809" target="_blank" class="button is-outlined is-dark"><span class="icon"><i class="fa fa-facebook"></i></span></a>
        <a href="https://www.freecodecamp.com/adelmahjoub" target="_blank" class="button is-outlined is-dark"><span class="icon"><i class="fa fa-free-code-camp"></i></span></a>
        <a href="https://www.linkedin.com/in/adel-mahjoub-03484712a/" target="_blank" class="button is-outlined is-dark"><span class="icon"><i class="fa fa-linkedin"></i></span></a>
        <a href="https://codepen.io/SultanCodeCamper/" target="_blank" class="button is-outlined is-dark"><span class="icon"><i class="fa fa-codepen"></i></span></a>
      </div>
    </footer>
  </div>
</div>